/*Style the body element*/
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: burlywood;
}
/*Style the divs with class "container"*/
.container {
  padding-top : 20px;
  padding-bottom : 20px;
  margin-top : 20px;
  margin-bottom : 20px;
  background-color: wheat;
  text-align : center;
  border-radius:20px;
}
/*Style the table elements*/
table {
  margin : 10px;
  text-align: left;
}
/*Style the class "info" elements*/
.info {
  white-space: nowrap;
  vertical-align: top;
}
/*Style the td elements*/
td {
  padding: 10px;
} 
/*Style the th elements*/
th {
  padding: 10px;
} 